@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (User.IsInRole(WebStore.Models.RoleNames.Admin))
    {
<li class="nav-item">
    <a class="nav-link text-dark" id="cms" href="/Admin/Products/AllProducts">CMS</a>
</li>}
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
    </li>
</ul>

