@page "{title}"
@model WebStore.Pages.Products.ProductPage
@{
    ViewData["Title"] = Model.Product.Title;
}


<script @*type="module"*@>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function dropdownFunction() {
        document.getElementById("dropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (event.target.matches('dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
                else {
                    openDropdown.classList.add('show');
                }
            }
        }
    }

    window.onload = function () {
        DescriptionFunction();
    }
    function DescriptionFunction() {
    }
    //function ReplaceHTMLWithLineBreaks(string) {
    //    let changedString = string;
    //    changedString ='<br>';

    //    const regex = /<br>/gi;

    //    changedString = changedString.replace(regex, "test");
    //    return changedString;
    //}


</script>

<div class="productPageHeader">
    <h4>- @Model.Product.Title</h4>
</div>
<div class="productPageContainer">
    <div class="float-left productPageContainerDivs">
        <img src="@Model.Product.FilePath" />
    </div>
    <div class="float-right productPageContainerDivs">
        <p>$ @Model.Product.Price</p>
        <hr class="solid" style="border-width:4px;">
        <form>
            <input type="number" value="1" />
            <input type="submit" value="Add To Cart" />
        </form>
        <hr class="solid" style="border-width:4px;">
        <p>
            @foreach (var item in Model.DescriptionList)
            {
                @item
                <br />
            }
        </p>
        <hr class="solid" style="border-width:4px;">
        <div class="dropdown">
            <button onclick="dropdownFunction()" class="dropbtn">Additional Information</button>
            <div id="dropdown" class="dropdown-content">
                @foreach (var item in Model.AdditionalInformationList)
                {
                    @item
                    <br />
                }
            </div>
        </div>
        <hr class="solid" style="border-width:4px;">
    </div>
    <br style="clear: both;" />
</div>
