@page "{id}"
@model WebStore.Pages.Admin.Products.ProductDeleteModel
@{
}

<div style="margin-bottom: 2.5%">
    <h1>
        Product Deleted!
    </h1>
    <form action="/Admin/Products/AllProducts">
        <input type="submit" value="Return To Product List" />
    </form>
</div>

