@page
@*@WebStore.Pages.UploadPhotoModel*@
@{
    ViewData["Title"] = "Upload Photo";
}

<h1>UploadPhoto</h1>
@*<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Upload" />
    <input type="submit" value="Upload Photo" />
</form>*@